<%= render "partials/navigation_bar" %>

<div class="home">
  <h2>Welcome</h2>
  <p>This page is for configuring the dynamic lighting system.</p>
  <ul>
    <li><b>Rules</b> is deciding what to do when a sensor sends an input to the system. </li>
    <li><b>Sensors</b> is used to trigger the rules and sending data to the system </li>
    <li><b>Actions</b> turn lamps on/off if the corresponding rule is triggered</li>
    <li><b>Conditions</b> attached to a rule needs to be met for the rule to trigger</li>
  </ul>
</div>