<h1>create sensor input</h1>
<table>
  <tr>
    <td>sensor id</td>
    <td><%=number_field_tag 'sensor_id' %></td>
  </tr>
  <tr>
    <td>sensor value</td>
    <td><%=number_field_tag 'sensor_value' %></td>
  </tr>
  <tr><td><button onclick='sendSensorInput()'>Click me</button></td></tr>
</table>