<%= render "partials/navigation_bar" %>
<h1>create sensor input</h1>
<table>
  <tr>
    <td>sensor id</td>
    <td><%=number_field_tag 'sensor_id' %></td>
  </tr>
  <tr>
    <td>sensor value</td>
    <td><%=number_field_tag 'sensor_value' %></td>
  </tr>
  <tr><td><button onclick='sendSensorInput()'>Post</button></td></tr>
</table>

<div class='rule_response'>

</div>